* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
    text-align: center;
}

body {
    overflow: hidden;
}

p {
    color: black;
}


.top-bar {
    margin-top: 1rem;
}

.top-bar p {
    float: right;
}

.top-bar button {
    outline: none;
    background-color: black;
    color: white;
    float: left;
}
.mainPageStyle {
    display: flex;
    justify-content: center;
    align-items: center;
}

header button {
    margin-top: 1.5rem;
}

main {
    height: 50vh;
    margin-top: 1.5rem;
}


.questions-screens {
    padding: 20px;
  }

  ul {
    list-style: none;
    padding-top: 1rem;
  }

  li {
    padding: 0.50rem;
  }

  button {
    padding: 0.25rem;
  }
  
  .finish-screen {
    display: none;
}


